* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    perspective: 1000px;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: lightskyblue;
    transform: perspective(3d);
    min-height: 60vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.stones {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stones img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(to right,
            rgba(76, 121, 193, 0.75),
            rgba(223, 207, 36, 0.75));
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1 {
    font-size: 1.5rem;
    transition: all 0.5s ease-out;
}

.info h3 {
    font-size: 1rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.5s ease-out;
}

.log {
    margin-top: -320px;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}